# Gradle
.gradle/
build/

# Gradle Wrapper는 GitHub에 올려야 함
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build outputs
out/
target/
